packages/**/src/configuration/dependency-registries/**/*
packages/**/src/application/consumers/index.ts
packages/**/src/application/api/types/schema.d.ts
packages/**/scripts/generate-schema.ts

packages/**/build
pacakges/**/coverage

packages/**/neo-framework.config.ts
packages/**/*.config.js
packages/**/config*.js
packages/**/.eslintrc.js

packages/dev-environment

node_modules
*.config.js
config*.js
.eslintrc.js
